// Mixins



//Image Mixins

@mixin img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: 100%;	
}

@mixin meddisp {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

// Media Queries

@mixin medqry($break) {
    @media (min-width: $break-m) {
        @content;
    }
}